.componentContainer {
  margin: 3%;
}

.listOfCardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

/* .cardContainer {
  width: 8rem;
} */

.paginationContainer {
  /* display: flex;
  justify-content: space-between;
  border: 1px solid lightgrey; */
}

.paginationContainerTop {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.paginationContainerBottom {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
