.paginationContainer {
  /* display: flex;
  justify-content: space-between;
  border: 1px solid lightgrey; */
}

.paginationContainerTop {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.paginationContainerBottom {
  display: flex;
  justify-content: center;
}

.listOfCardsContainer {
  display: flex;
  margin-bottom: 2rem;
}

.cardContainer {
  width: 8rem;
}
