.labelAndIcon {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  color: #0047ab;
}

.iconContainer {
  display: flex;
  margin-left: 0.5rem;
  font-size: 28px;
}

.bar {
  margin-top: 10px;
  display: flex;
}

.stepsInner {
  width: 100%;
  display: flex;
  align-items: center;
}

.stripeBold {
  background-color: limegreen;
  width: 100%;
  height: 2px;
}

.stripeLight {
  background-color: limegreen;
  width: 100%;
  height: 2px;
  opacity: 0.3;
}

.boldBubble {
  color: limegreen;
  margin: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightBubble {
  color: limegreen;
  margin: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}

.innerIconBold {
  display: flex;
  font-size: 22px;
}

.innerIconLight {
  display: flex;
}

.text {
  margin-top: 1rem;
  display: flex;
}

.textInner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #0047ab;
  margin-right: -0.5rem;
}

/* Styling Classes from V1 version */

.mainContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 1rem;
  border: 1px solid lightgray;
}

.innerLeft {
  background-color: lightblue;
  height: 14px;
}

.progressStepsInner {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid dodgerblue;
}

.bubleContainer {
  height: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buble {
  display: flex;
  margin-top: -3px;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 999px;
  border: 1px solid black;
  background-color: white;
}

.selectedStep {
  background-color: dodgerblue;
}

.stepsInnerText {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}
