.mainContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 1rem;
  border: 1px solid lightgray;
}

.innerLeft {
  background-color: lightblue;
  height: 14px;
}

.red {
  background-color: red;
}

.progressSteps {
  /* border: 1px solid red; */
}

.progressStepsInner {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid dodgerblue;
}

.bubleContainer {
  height: 2px;
  display: flex;
  align-items: center;
  /* background-color: red; */
  justify-content: center;
}

.buble {
  display: flex;
  margin-top: -3px;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 999px;
  border: 1px solid black;
  background-color: white;
}
